.header {
    width : 100vw;
    height : 200px;
    max-width: 100%;
    position: relative;
}


.header.lg {
    height : 700px;
}

.header.md {
    height : 500px;
}

.header.sm {
    height : 200px;
}

.header.hasDivider {
    margin-bottom : 80px;
}

@media (max-width: 992px) {
    .header.lg {
        height: 500px;
    }
    
    .header.md {
        height: 300px;
    }

    .header > .headerContentsOverlay > .container {
        margin-bottom : 0px;
    }
}


.header > .headerContentsOverlay > .container {
    margin-bottom : 60px;
}

.headerBackgroundImage {
    position: relative;
    width : 100vw;
    height: 100%;
    max-width: 100%;
}

/*
    TODO 
    Set the .masked class on the main .header parent rather than the .headerBackgroundImage element
    Set the height of .headerContentsOverlay to calc(100% - 120px) when masked, so content centers better vertically

*/
.headerContentsOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Divider */

.headerDivider {
    position: absolute;
    width : 100%;
    bottom : -40px;
    z-index: -1;
}

.headerDivider > div {
    height : 40px;
    width : 100%;
}

.triangleSVG {
    height: 120px;
}


@media (max-width: 992px) {

    .headerDivider {
        bottom: -40px;
    }

    .headerDivider > div {
        height: 40px;
    }

    .triangleSVG {
        height: 40px;
    }

}

/* Gradient*/

.headerBackgroundImage.gradient:after {
    content : " ";
    display: block;
    position: absolute;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background : linear-gradient(0deg, #00000000, #000000ff);
    pointer-events: none;
}


/* Masking */

.headerBackgroundImage.masked {
    mask-image: url('/images/masks/rectangle.svg'), url('/images/masks/triangleAsymmetrical.svg');
    mask-position: 0 0, bottom;
    mask-size: 100% calc(100% - 120px), 100% 120px;
    mask-clip: content-box, content-box;
    mask-repeat: no-repeat;
}

@media (max-width: 992px) {
    .headerBackgroundImage.masked {
        mask-size: 100% calc(100% - 40px), 100% 41px;
    }
}

