.headerOne {
    background-image : url('/images/headers/header.jpg');
    background-position: 50% 80%;
    filter: brightness(75%) contrast(115%);
}

.contactBlock {
    display: flex;
    flex-direction: row;
}

.contactBlockSocials {
    background-color : #000;
    flex : 2;
    color : #fff;
    padding : 40px;
    display: flex;
    flex-direction : column;
    justify-content : space-between;
    gap : 40px
}

.contactSocialContainer {
    display: flex;
    flex-direction: column;
    gap : 30px;
}

.contactItem {
    display: flex;
    gap : 20px;
}

.socialIconsContainer {
    display: flex;
}

.inputRow {
    flex-direction: row;
}

.subjectRow {
    flex-direction: row;
}

.subjectRow > div {
    flex-direction: center;
}

@media (max-width: 992px) {

    .contactBlock {
        flex-direction: column-reverse;
    }

    .contactBlockSocials {
        text-align: center;
        gap : 40px;
    }

    .contactSocialContainer {
        align-items: center;
    }

    .contactItem {
        gap : 10px;
        flex-direction: column;
        align-items: center;
    }
    
    .socialIconsContainer {
        justify-content: center;
    }

    .inputRow {
        flex-direction: column;
    }

    .subjectRow {
        flex-direction: column;
    }

    .subjectRow > div {
        flex-direction: unset;
    }

}

.submitButton {
    color : #fff;
    text-transform: uppercase;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height : 50px;
    font-size: 0.9rem;
    font-weight: 600;
}
