.headerOne {
    background-image : url('/images/headers/header.jpg');
    background-position: 50% 80%;
    filter: brightness(75%) contrast(115%);
}


.bodyColumns {
    display: flex;
    gap : 20px;
    min-height: 200px;
    flex-direction: row;
}

.navigationButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap : 20px;
}

.navigationButtons[visible='mobile'] {
    display: 'none';
    visibility: hidden;
}

.sideDataContainer {
    width : 320px;
    display: flex;
    flex-direction: column;
    gap : 20px;
}

.eventButton {
    background-color: #000;
    transition: background-color 0.2s;
}

.eventButton:hover {
    background-color: #222;
}

.button {
    color : #fff;
    text-transform: uppercase;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height : 50px;
    font-size: 1rem;
    font-weight: 400;
    transition: background-color 0.2s;
}

@media (max-width: 992px) {
    
    .bodyColumns {
        flex-direction: column;
    }

    .sideDataContainer {
        width : 100%;
    }

    .navigationButtons {
        flex-direction: column;
    }
    
    .navigationButtons[visible='desktop'] {
        display: 'none';
        visibility: hidden;
    }

    .navigationButtons[visible='mobile'] {
        display: 'initial';
        visibility: visible;
    }
    
}
