.footer {
    background-color: #0f1725;
    padding-top : 60px;
    padding-bottom : 20px;
    color : #fff
}

.footerInner {
    display:  flex;
    flex-direction: column;
    gap : 20px;
}

.footerColumnContainer {
    display: flex;
    flex-direction: row;
    flex : 1;
    gap : 40px;
}

.footerColumn {
    flex : 1;
}

.footerLink {
    font-size: 0.8rem;
    color : #ccc;
    font-weight: 400;
    transition: color 0.4s;
}

.footerLink:hover {
    color : #fff
}

.footerAboutColumn {
    flex : 2;
    display:  flex;
    flex-direction: column;
    gap : 40px;
}

.footerColumn > h4, .footerAboutColumn > div[segment='biography'] > h3 {
    height : 40px;
}

.footerColumn > h4, .footerAboutColumn > div > h3, .footerAboutColumn > div > h4 {
    margin : 0;
}

.footerAboutColumn > div[segment='biography'] {
    display: flex;
    flex-direction: column;
    gap : 10px;
}

.footerAboutColumn > div[segment='newsletter'] {
    display: flex;
    flex-direction: column;
    gap : 10px;
}

.footerColumnList {
    display: flex;
    flex-direction: column;
    gap : 10px;
}

.footerColumnList > span, .footerAboutColumn > div > span {
    font-size: 0.8rem;
    color : #ccc;
    font-weight: 400;
}

.footerBottomLinks {
    flex : 3;
    margin-right: calc(40px * 2); /* Column gap * unaccounted for columns */
    font-size : 0.8rem;
}

.footerBottomCopyright {
    font-size: 0.8rem;
    color : gray;
    flex : 2;
}

.footerLogoContainer {
    display: flex;
    flex-direction: row;
    gap : 5px;
    align-items: flex-start;
}

.footerInputContainer {
    display: flex;
    gap : 5px;
}

.footerInputContainer > button {
    border-radius: 0;
    border : 0;
    color : #000;
    background-color: #fff;
}

.footerTriangleContainer {
    position: relative;
    height: 60px;
    display: flex;
    justify-content: center;
}

.triangleSVG {
    height: 60px;
}

.footerButtonContainer {
    position: absolute;
    top : 0;
    height : 60px;
}

.footerButton {
    position: absolute;
    right : 60px;
    top : 16px;
    background-color: transparent;
    border : none;
    color: #ffffffd0;
    transition: color 0.2s;
    cursor: pointer;
}

.footerButton:hover {
    color: #fff;
}

@media (max-width: 992px) {
    
    .footerColumnContainer {
        flex-direction: column;
        align-items: center;
    }

    .footerColumn, .footerAboutColumn {
        text-align: center;
    }

    .footerLogoContainer {
        margin-top : 40px;
        justify-content: center;
    }

    .footerInputContainer {
        justify-content: center;
    }

    .footerBottomLinks {
        margin : 0;
    }

    .footerColumnContainerBottom {
        gap : 20px;
    }

    .footerButtonContainer {
        right : 10px;
    }

    .footerButton {
        right : 10px;
    }
}