.sponsorsMoreButton {
    border: 2px solid black;
    color : black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height : 40px;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.4s, color 0.4s;
}

.sponsorsMoreButton:hover {
    color : #fff;
    background-color: black;
}
