.blockContainer {
    display: flex;
    flex-direction: row;
    gap : 20
}

.blockContainerLeft {
    text-align: unset;
    align-items: unset;
    justify-content: unset;
}

.blockContainerRight {
    flex : 3;
    text-align : right;
}


.blockContainerRight > div {
    display: inline-block;
    width: 384px;
    height : 384px;
}

.sponsorBlockButton {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height : 40px;
    font-size: 1rem;
    font-weight: 500;
}

.sponsorsMoreButton {
    color : black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 600;
    transition: color 0.4s;
}

.sponsorsMoreButton:hover {
    color : #fff;
}

@media (max-width: 992px) {

    .blockContainer {
        flex-direction: column-reverse;
        gap : 60px;
    }

    .blockContainerLeft {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .blockContainerLeft > h1 {
        white-space: pre-wrap;
    }
    
    .blockContainerRight {
        flex : 3;
        text-align : right;
    }

    .blockContainerRight {
        flex : 3;
        text-align : center;
        display: none;
    }

    .blockContainerRight > div {
        width: 256px;
        height : 256px;
    }

}
