.headerOne {
    background-image : url('/images/headers/header.jpg');
    background-position: 50% 80%;
    filter: brightness(75%) contrast(115%);
}

.leadershipSection {
    display: flex;
    flex-direction: column;
    width : 100%;
}

.triangleSVG {
    height: 80px;
}

.leadershipBlock {
    background-color: #F68313;
    width: 100%;
    min-height: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.leadershipBody > h3 {
    color : #fff;
    font-weight: 700;
}

.leadershipBodyContents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap : 40px;
}
