.button {
    position: relative;
    display : flex;
    justify-content : center;
    align-items : center;
    cursor: pointer;
    transition: transform 0.2s;
}

.button[type='button'] {
    border : none;
    background-color: initial;
    margin : 0px;
    padding : 0px;
    border-radius: 0px;
}

.button:focus-visible {
    outline: 4px solid var(--color-orange)
}

/*
    Links should expand and hold the animation
    Buttons should pulse the internal container
*/

.buttonOutline {
    position: absolute;
    border-width: 2px;
    border-style: solid;
    top : 0;
    bottom : 0;
    left : 0;
    right : 0;
    transition: border-color 0.2s;
}

.button:not([disabled]):hover > .buttonOutline {
    border-color: var(--hover-border-color) !important;
}

.buttonLinkActive:not([variant="inverted"]) {
    /* transform : scale(1.1); */
}

.buttonInnerBlock {
    position: relative;
    transition: width 0.1s, height 0.1s, background-color 0.2s;
}

.button:not([disabled]):hover > .buttonInnerBlock {
    --blockShrinkWidth : 4px;
    width : calc(100% - (var(--blockShrinkWidth) * 2));
    height : calc(100% - (var(--blockShrinkWidth) * 2));
}

/* .button[variant="inverted"]:hover > .buttonInnerBlock {
    --blockShrinkWidth : 2px;
} */

.button > .buttonInnerBlock {
    width : calc(100% - 4px);
    height : calc(100% - 4px);
}

.button:not([disabled]):hover > .buttonInnerBlock {
    background-color: var(--hover-background-color) !important;
}

.buttonContentContainer {
    height : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
}

.button:not([disabled]):hover > .buttonInnerBlock > .buttonContentContainer {
    /* transform: scale(0.9); */
}

.button[disabled] {
    cursor: default;
}

.button[disabled] > .buttonOutline {
    border-color: var(--disabled-border-color) !important;
}


.button[disabled] > .buttonInnerBlock {
    background-color: var(--disabled-background-color) !important;
}


.button[type="button"]:not([variant="inverted"]):not([disabled]):active > .buttonInnerBlock > .buttonContentContainer {
    transform: scale(1.1);
}

.button:focus > .buttonInnerBlock {
    background-color: var(--active-background-color) !important;
}

.buttonLinkActive:not([variant="inverted"]) > .buttonInnerBlock > .buttonContentContainer {
    transform: scale(0.8) !important;
}