.subheaderShape {
    width : 100vw;
    max-width: 100%;
}

.subheaderShapeBody {
    width: 100%;
    background-color: #f68313;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 992px) {

    .subheaderShapeBody {
        padding-top : 40px;
        padding-bottom : 40px;
    }

    .triangleSVG {
        height: 40px;
    }
}
