.personCard {
    display: flex;
    flex-direction: column;
    flex-basis: 22%;
    max-width: 300px;
    aspect-ratio: 1/1.4;
    position: relative;
    margin-bottom: 100px;
}

.personCardImageContainer {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
}

.personCardImage {
    flex : 1;
    object-fit: cover;
    background-color: #000;
}

.personCardBottomsheet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding : 10px;
    padding-top : 20px;
    color : #fff;
    background-color:  #1b1616;
    min-height: 160px;
}

.quoteBlock::before {
    content: "\0022";
    font-size: 2em;
    font-weight: bold;
    vertical-align: -.3em;
}