.navbar {
    width : 100vw;
    height : 80px;
    background-color: #000;
    display : flex;
    align-items: center;
    flex-direction: row;
    position: fixed;
    z-index: 9;
    top : 0;
    transition: height 0.2s;
}

.navbarCompressed {
    height : 60px;
}

.navbarWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items : center;
}

.navbarLogoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.navbarLogoContainer > a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbarLogoContainer > a > span {
    color : #fff;
    font-size: 1.1rem;
    font-weight: 350;
}

.navbarButtonsWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: stretch;
    align-items: center;
    gap: 4px;
    margin : 0;
    height : 42px
}

.navbarButtonsWrapper > li {
    display: flex;
    height : 100%;
    cursor: pointer;
}

.navbarButtonsWrapper > li.navbarButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbarButtonsWrapper > li.navbarButton > .navbarButtonInternal {
    display: flex;
    flex : 1;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    color : #fff;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    gap: 2px;
    /* cursor: pointer; */
    transition: background-color 0.2s;
    width: 100%;
    height: 100%;
}

.navbarButtonsWrapper > li.navbarButton > .navbarButtonInternal:hover {
    /* background-color: #222; */
}


.navbarDropdown {
    position: absolute;
    background-color: #000;
    top: 45px;
    min-width: 120px;
    left: -12px;
    padding-right : 20px;
    display: flex;
    padding-top : 10px;
    padding-bottom: 10px;
    z-index: 10;
    display: none;
    visibility: hidden;
}

.navbarDropdown.active {
    display: flex;
    visibility: initial;
}

.navbarDropdownColumn {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: flex-start;
    padding: 0;
}

.navbarDropdownColumn > li.navbarButton {
    display: flex;
    text-align: left;
    align-items: center;
    color : #fff;
    font-size: 0.9rem;
    font-weight: 350;
    white-space: nowrap;
    /* cursor: pointer; */
    transition: color 0.2s, background-color 0.2s;
}

.navbarDropdownColumn > li.navbarButton > .navbarButtonInternal {
    flex : 1;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
}

.navbarButtonInternal > svg {
    margin-right : -5px;
}

.navbarDropdown > .navbarDropdownColumn > li.navbarButton:hover {
    background-color: #222;
}

.navbarDropdown > .navbarDropdownColumn > li.navbarButton > span {
    text-transform: uppercase;
}

.navbarToggle {
    color : #fff;
    display: none;
    visibility: hidden;
}




/* */

@property --teamButtonColorA1 {
    syntax: '<color>';
    initial-value: #0050AD;
    inherits: false;
  }
  
  @property --teamButtonColorA2 {
    syntax: '<color>';
    initial-value: #0060bD;
    inherits: false;
  }

.navbarButtonsWrapper > li.navbarButton.navbarButtonTeam {
    background: linear-gradient(-25deg, var(--teamButtonColorA2), var(--teamButtonColorA1));
    padding-left : 4px;
    padding-right : 4px;
    transition: color 0.2s, background-color 0.2s, --teamButtonColorA1 0.6s, --teamButtonColorA1 0.6s;
}


.navbarButtonsWrapper > li.navbarButton.navbarButtonTeam:hover {
    --teamButtonColorA1: #0275ef;
    --teamButtonColorA2: #0060bD;
}


.navbarButtonsWrapper > li.navbarButton.navbarButtonTeam > .navbarDropdown {
    left : 0px;
    background-color: #0050AD;
    background: linear-gradient(-25deg, #00408D, #0060bD);
}

.navbarButtonsWrapper > li.navbarButton.navbarButtonTeam > .navbarDropdown > .navbarDropdownColumn > li.navbarButton {
    /* padding-left: 16px; */
    width: 160px;
}


/* */

.navbarDropdown > .navbarDropdownColumn > li.navbarButton.donateSecondaryButton {
    background-color: #02c166;
}

.navbarDropdown > .navbarDropdownColumn > li.navbarButton.donateSecondaryButton:hover {
    background-color: #01b156;
}

.navbarDropdown > .navbarDropdownColumn > li.navbarButton.sponsorSecondaryButton {
    background-color: #0085ff;
}

.navbarDropdown > .navbarDropdownColumn > li.navbarButton.sponsorSecondaryButton:hover {
    background-color: #0075ef;
}

.navbarDropdown > .navbarDropdownColumn > li.navbarButton.membersSecondaryButton {
    background-color: transparent;
}

.navbarDropdown > .navbarDropdownColumn > li.navbarButton.membersSecondaryButton:hover {
    background-color: #0075ef;
}

/* Mobile */


.mobile {
    position: fixed;
    z-index: 10;
    top : 0;
}

@media (max-width: 992px) {

    .navbarSlider {
        display: none;
        visibility: hidden;
    }

    .navbar.mobileOpen {
        position: fixed;
        z-index: 10;
    }

    .navbar:not(.mobileOpen) > .navbarWrapper > .navbarButtonsWrapper {
        display: none;
        visibility: hidden;
    }

    .navbarWrapper {
        width : 100%;
    }

    .navbarToggle {
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: visible;
    }

    .navbarButtonsWrapper {
        position: absolute;
        width : 100vw;
        max-width: 100%;
        height: 100vh;
        flex-direction: column;
        background-color: #111;
        top : 80px;
        left : 0;
        z-index: 4;
        padding : 0;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .navbarButtonsWrapper > li.navbarButton {
        width : 100vw;
        max-width: 100%;
        justify-content: flex-start;
        flex-direction: column;
        height : auto;
    }

    .navbarButtonsWrapper > li.navbarButton > .navbarButtonInternal, .navbarButtonsWrapper > li.navbarButton.navButtonTeam > .navbarButtonInternal {
        display: flex;
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        justify-content: flex-start;
        padding-left: 40px !important;
        flex-wrap: wrap;
    }

    .navbarButtonsWrapper > li.navbarButton > .navbarDropdown {
        position: static;
        width : 100%;
        overflow-x: auto;
        padding-right: 0px;
    }

    .navbarButtonsWrapper > li.navbarButton > .navbarDropdown > .navbarDropdownColumn {
        width : 100%;
    }

    .navbarDropdown > .navbarDropdownColumn > .navbarButton > .navbarButtonInternal {
        padding-left : 20px;
    }

}

/* Navbar Slider */

.navbar:hover .navbarSlider {
    opacity: 1;
}

.navbarSlider {
    pointer-events: none;
    position: absolute;
    opacity: 0;
    top : 0;
    height : 100%;
    min-width: 20px;
    /* border-radius: 5rem; */
    background-color: #222222;
    transition: background-color 0.2s, width 0.2s, left 0.4s, opacity 0.4s;
}