.headerOne {
    background-image : url('/images/headers/header.jpg');
    background-position: 50% 80%;
    filter: brightness(75%) contrast(115%);
    background-size: cover;
}

.teamPhotoContainer {
    width : 100%;
    height : 500px;
    background-color: #eee;
}

.buttonSection {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap : 10px;
    justify-content: flex-end;
}

.button {
    color : #fff;
    text-transform: uppercase;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height : 80px;
    font-size: 1.2rem;
    font-weight: 500;
    transition: background-color 0.2s;
}