.headerOne {
    background-image : url('/images/headers/header.jpg');
    background-position: 50% 80%;
    filter: brightness(75%) contrast(115%);
}

.vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

.robotItemImageBox {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0052afa0;
    background-blend-mode: multiply;
    transition: background-color 0.4s, filter 0.4s;
}

.robotItem:hover > div > .robotItemImageBox {
    background-color: #f68313a0;
}
